/* .backgound-white {
  height: 900px;
  left: -2589px;
  position: relative;
  top: -2607px;
  width: 1440px;
} */

.rectangle {
  background-color: #ffffff;
  border-radius: 0px 0px 75px 75px;
  box-shadow: 0px -5px 15px #00000033;
  height: 100%;
  position: absolute;
  width: 100%;
  transform: rotate(180deg);
}

.backgound-white2 {
  height: 900px;
  left: -2589px;
  position: relative;
  top: -2607px;
  width: 1440px;
}

.backgound-white2 .rectangle2 {
  background-color: #fefcfc;
  border-radius: 0px 0px 75px 75px;
  box-shadow: 0px -5px 15px #00000033;
  height: 900px;
  transform: rotate(180deg);
}

