.main-tab {
  background-color: #8CC8FF;
  box-shadow: 0px 4px 4px #00000040;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  height: 87px;
  left: -827px;
  position: relative;
  top: -2607px;
  width: 100%;
}
