.booking-page {
  background-color:#ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.booking-page .div-4 {
  background-color: #8CC8FF;
  height: 1024px;
  position: relative;
  width: 1440px;
}

.booking-page .overlap-2 {
  height: 900px;
  left: 0;
  position: relative;
  top: 124px;
  width: 1440px;
}

.booking-page .backgound-white-default {
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
}

.booking-page .step-booking-instance {
  height: 57px !important;
  left: 521px !important;
  position: absolute !important;
  top: 55px !important;
  width: 638px !important;
}

.booking-page .design-component-instance-node {
  border-radius: 28.3px/28.5px !important;
  height: 57px !important;
  left: -38px !important;
  width: 57px !important;
}

.booking-page .step-booking-2 { /*1-2-3 text*/
  height: 15px !important;
  left: 17px !important;
  top: 6px !important;
  width: 22px !important;
}

.booking-page .step-booking-3 {
  border-radius: 28.3px/28.5px !important;
  height: 57px !important;
  left: 175px !important;
  width: 57px !important;
}

.booking-page .step-booking-4 {
  border-radius: 28.3px/28.5px !important;
  height: 57px !important;
  left: 388px !important;
  width: 57px !important;
}

.booking-page .step-booking-5 {
  left: 31px !important;
  top: 26px !important;
  width: 130px !important;
}

.booking-page .step-booking-6 {
  left: 244px !important;
  top: 26px !important;
  width: 130px !important;
}

.booking-page .button-instance {
  height: 66px !important;
  left: 650px !important;
  position: absolute !important;
  top:130px!important;
  width: 166px !important;
}

.booking-page .button-2 {
  height: 54px !important;
  left: 35px !important;
  top: 19px !important;
  width: 95px !important;
}



.booking-page .text-wrapper-9 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 40px;
  font-weight: 700;
  height: 124px;
  left: 495px;
  position: absolute;
  text-align: center;
  top: -88px;
  width: 450px;
}

.booking-page .back-button-instance {
  left: 157px !important;
  position: absolute !important;
  top: -88px !important;
}

.booking-page .icon-home-2 {
  left: 67px !important;
  top: -88px !important;
}

/*start ant*/
.custom-selectAccommodation {
  display: flex;
  flex-direction: column;
  margin-bottom: 7px;
  font-family: "Inter-Light", Helvetica;
  font-size: 20px;
  left: 760px;
  /* top: 260px; */
  height: 46px;
  width: 458px !important; 
  
}
.custom-selectAccommodation .ant-select-selection-selected-value {
  font-family: "Inter-Light", Helvetica;
  font-size: 20px;
}

.custom-selectAccommodation .ant-select-selection-placeholder {
  color: #4497e3;
  /*background-color: #F0F0F0;  */
}

.custom-DatePicker{
  background-color: #ffffff;
  font-size: 20px;
  left: 760px;
  position: relative;
  height: 46px;
  width: 220px
  
}
.custom-TimePicker{

  background-color: #ffffff;
  font-size: 20px;
  left: 770px;
  height: 46px;
  width: 220px;
  position: relative;
}


/*-------------textAll---------------*/
.booking-page .text1 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 200 px;
  height: 73px;
  left: 762px;
  letter-spacing: 1.8px;
  position: relative;
  margin-top: 180px;
}

.booking-page .text3 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 200;
  height: 44px;
  width: 250px;
  left: 760px;
  letter-spacing: 1.8px;
  position: relative;
  
}
.booking-page .text4 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 200;
  height: 44px;
  left: 762px;
  letter-spacing: 1.8px;
  margin-top: 10px;
  position: relative;
}

.booking-page .textLocation {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 200;
  height: 44px;
  left: 210px;
  letter-spacing: 1.8px;
  line-height: normal;
  position: absolute;
  top: 190px;
}
.booking-page .textlo {
  color: #000000;
  font-size: 16px;
  font-weight: 200;
  height: 44px;
  left: 150px;
  letter-spacing: 1.8px;
  line-height: normal;
  position: absolute;
  top: 180px;
}
.booking-page .textTel {
  color: #000000;
  font-size: 16px;
  font-weight: 200;
  height: 44px;
  left: 150px;
  letter-spacing: 1.8px;
  line-height: normal;
  position: absolute;
  top: 210px;
}

.yes{
  color: #4497e3;
  /*margin-bottom: 60px;*/
  font-family: "Inter", Helvetica;
  font-size: 18px;
  left: 760px;
  position: relative;
  height: 20px;
  width: 20px;
  top: -20px;
}

.no{
  color: #4497e3;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  left: 950px;
  position: relative;
  height: 20px;
  width: 20px;
  top: -20px;
}

.blue-background .ant-input {
  background-color: #ffffff !important;
  font-size: 18px!important;
  font-family: "Inter", Helvetica !important;
  position: relative;
}
.booking-page .card{
  background-color: #eef6ff;
  border-radius: 14px;
  width: 450px;
  left: 180px;
  top: 170px;
  height: 250px;
  position: absolute;
  
}

.booking-page .textService {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 200 px;
  height: 73px;
  left: 185px;
  letter-spacing: 1.8px;
  top: 450px;
  position: absolute;
}

.booking-page .textService1 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 200 px;
  height: 73px;
  left: 550px;
  letter-spacing: 1.8px;
  top: 450px;
  margin-right: 50px;
  position: absolute;
}
.booking-page .rectangle-2 {
  background-color: #eef6ff;
  border-radius: 14px;
  height: 235px;
  left: 730px;
  position: absolute;
  top: 170px;
  width: 540px;
}
.booking-page .rectangle-3 {
  background-color: #eef6ff;
  border-radius: 14px;
  height: 125px;
  left: 730px;
  position: absolute;
  top: 420px;
  width: 540px;
}

.booking-page .rectangle-4 {
  background-color: #eef6ff;
  border-radius: 14px;
  height: 95px;
  left: 730px;
  position: absolute;
  top: 560px;
  width: 540px;
}

.booking-page .rectangle-1 {
  background-color: #eef6ff;
  border-radius: 14px;
  height: 150px;
  left: -54px;
  position: absolute;
  top: -3px;
  width: 540px;
}

.booking-page .Pet_detail_TextBox{
  color: #000000;
  resize: none;
  position: absolute;
  width: 456px;
  height: 100px;
  /* top: 40px; */
  left: 0px;
}
